using './main.bicep'

param namePrefix = 'finsight-demo'
param location = 'eastus'
param backendImage = 'example.azurecr.io/finsight-api:latest'
param frontendImage = 'example.azurecr.io/finsight-web:latest'
param containerRegistryServer = 'example.azurecr.io'
param containerRegistryUsername = 'replace-me'
param containerRegistryPassword = 'replace-me'
param postgresAdminPassword = 'replace-me'
param plaidClientId = 'replace-me'
param plaidSecret = 'replace-me'
param plaidEncryptionKey = 'replace-me'
param geminiApiKey = 'replace-me'
param jwtSecret = 'replace-me'
param adminApiKey = 'replace-me'
param stripeSecretKey = 'replace-me'
param stripeWebhookSecret = 'replace-me'
param stripePriceId = 'price_replace_me'
